section {
    margin-top: 2rem;
}

.formsection {
    padding: 10px;
}

.formsection p {
    border:none;
    box-shadow:none;
    text-align: center;
    background-color: transparent;
}

.formsection h2 {
    color:#592B27;
    text-align:center;
}

.signupform {
    width:100%;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 30px;
    text-align: center;
    border:none;
}


input[type=text] {
    min-width: 200px;    
    padding: 8px 10px;
    color:#592B27;
    margin-bottom:1rem;
    text-align:center;
}

input[type=date] {
    min-width: 200px;    
    padding: 8px 10px;
    color:#592B27;
    margin-bottom:1rem;
    text-align:center;
}

input[type=email] {
    min-width: 200px;    
    padding: 8px 10px;
    color:#592B27;
    margin-bottom:1rem;
    text-align:center;
}

input[type=password] {
    min-width: 200px;    
    padding: 8px 10px;
    color:#592B27;
    margin-bottom:1rem;
    text-align:center;
}

select {
    min-width: 200px;    
    padding: 8px 10px;
    color:#592B27;
    margin-bottom:1rem;
    text-align:center;
}

​input[type=checkbox] {
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
}

label {
    min-width:130px;
    color:#592B27;
    display: inline-block;
    text-align:right;
}

.signupform select,option {
    min-width: 200px;    
    padding: 8px 10px;
    color:#592B27;
}

#formbtns {
    max-width: 100px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display:inline;
}


input[type=submit], input[type=reset] {
    display:inline-block;
    background-color:  #5B98A6;
    border: none;
    color: white;
    padding: 16px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top:1rem;
}

.btn:hover {
    background:#260101;
}

#labelcomms {
    font-size: smaller;
}

textarea {
    color: black;
    vertical-align: text-top;
    display: inline-block;
    margin: 3px;
    width: 95%;
    height: 120px;
    margin-bottom:1rem;
}





