section {
    margin-top: 2rem;
}

.formsection {
    padding: 10px;
}

.formsection p {
    border:none;
    box-shadow:none;
    text-align: center;
    background-color: transparent;
}

.formsection h2 {
    color:#592B27;
    text-align:center;
}

.loginform {
    width:100%;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 30px;
    text-align: center;
    border:none;
}

.loginform label {
    display: inline-block;
    min-width: 130px;
    text-align:right;
    color: #592B27;
}


input[type=email] {
    min-width: 200px;    
    padding: 8px 10px;
    color:#592B27;
    margin-bottom:1rem;
    text-align:center;
}

input[type=password] {
    min-width: 200px;    
    padding: 8px 10px;
    color:#592B27;
    margin-bottom:1rem;
    text-align:center;
}


#formbtns {
    max-width: 100px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display:inline;
}


input[type=submit], input[type=reset] {
    background-color:  #5B98A6;
    border: none;
    color: white;
    padding: 16px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top:1rem;
}

.btn:hover {
    background:#260101;
}

#forgot {
    color:#5B98A6;
    background:none;
    border:none;
    cursor:pointer;
    display:block;
    margin-left:auto;
}

#forgot:hover {
    color:#260101;
}


